
#foo{
	position:relative;
	margin-bottom:2px;
	text-align: center;
	font-size: 1em;
	padding:0.2em 0.2em 0;
	border:1px solid #A6C9E2;
	-moz-border-radius-bottomleft:4px;
	-moz-border-radius-bottomright:4px;
	-moz-border-radius-topleft:4px;
	-moz-border-radius-topright:4px;
	-webkit-border-radius: 4px;
}
.next, .prev{
	margin: 3px auto;
	cursor:pointer;
}
#foo h2{
	background:#DFEFFC url(/_js/jquery/themes/redmond/images/ui-bg_glass_85_dfeffc_1x400.png) repeat-x scroll 50% 50%;
	border:1px solid #C5DBEC;
	color:#2E6E9E;
	text-align: left;
	margin:0;
	padding:5px 15px;
	font-weight:normal;
	font-size: 1.2em;
	font-family:Verdana,Arial,sans-serif;
	cursor:pointer;
	-moz-border-radius-bottomleft:4px;
	-moz-border-radius-bottomright:4px;
	-moz-border-radius-topleft:4px;
	-moz-border-radius-topright:4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
#sections{
	display: block;
	width:190px;
	height:200px;
	margin: 0 auto; 
	border:1px solid #C5DBEC;
	overflow:hidden;
	background-color:white;
}

#sections ul{
	margin: 0;
	padding: 0;
	list-style: none;
	width:3660px;
}

#sections ul li{
	width: 170px;
	float:left;
	padding:5px 10px 0;
	list-style: none;
	cursor:pointer;
}